<div
  class="bg-surface-900 text-surface-100 py-4 px-6 lg:px-20 flex justify-between items-center flex-wrap"
>
  <div class="font-bold">🔥 Hot Deals!</div>
  <div class="inline-flex gap-1 items-center">
    <span class="hidden lg:flex leading-normal"
      >Libero voluptatum atque exercitationem praesentium provident odit.</span
    >
    <a class="text-surface-0 underline font-bold" href="#">Learn More</a>
  </div>
  <p-button
    icon="pi pi-times"
    [text]="true"
    [rounded]="true"
    severity="secondary"
    styleClass="text-surface-0! hover:bg-surface-500/20!"
  ></p-button>
</div>
