<div
  class="relative p-8 md:p-12 lg:p-20 overflow-hidden bg-no-repeat! bg-cover! bg-center"
  [style]="backgroundStyle()"
>
  <div class="text-center my-12 relative">
    <div class="text-4xl md:text-5xl font-bold mb-1 text-white leading-tight">
      {{ content().headline }}
    </div>
    <div
      class="text-4xl md:text-5xl text-primary-400 font-bold mb-6 leading-tight"
    >
      {{ content().headlineAccent }}
    </div>
    <p
      class="mt-0 mb-4 leading-normal text-center mx-auto text-primary-100 max-w-xl text-xl"
    >
      {{ content().description }}
    </p>

    <div
      class="flex flex-col sm:flex-row items-center justify-center gap-4 px-8 sm:px-0 py-4 sm:py-0"
    >
      <input
        pInputText
        type="text"
        class="bg-transparent! border-white/70! p-3! rounded-full! h-12! w-full! sm:w-auto! text-surface-0/80! placeholder:text-surface-0/60!"
        size="30"
        [placeholder]="content().emailPlaceholder"
        [(ngModel)]="email"
      />
      <button pButton rounded class="h-12! w-full! sm:w-auto!">
        <span pButtonLabel>{{ content().ctaLabel }}</span>
      </button>
    </div>
  </div>
</div>
