<div
  class="p-12 lg:p-20 pb-0! text-center bg-linear-to-t from-primary/10 from-10% to-transparent flex flex-col items-center"
>
  <div
    class="bg-primary-100 dark:bg-primary-400/20 text-primary-700 dark:text-primary-100 p-2 mx-auto mb-6 rounded-full border border-primary-200 dark:border-primary-500/30 px-4 backdrop-blur-sm"
  >
    {{ content().eyebrow }}
  </div>
  <div
    class="text-4xl lg:text-5xl text-surface-900 dark:text-surface-0 font-bold mb-1 leading-tight"
  >
    {{ content().headline }}
  </div>
  <div class="text-4xl lg:text-5xl text-primary font-bold mb-6 leading-tight">
    {{ content().headlineAccent }}
  </div>
  <button pButton type="button" outlined>
    <span pButtonLabel>{{ content().ctaLabel }}</span>
  </button>
  <div class="w-full grow flex items-start justify-center rounded-t-3xl mt-12">
    <div
      class="overflow-hidden w-full aspect-720/295 max-w-[720px] rounded-t-3xl shadow-2xl border border-b-0 border-primary-100 dark:border-primary-400/30"
    >
      <img
        [src]="content().image.light.src"
        [alt]="content().image.light.alt"
        class="block w-full h-full object-cover object-top rounded-t-3xl dark:hidden"
      />
      <img
        [src]="content().image.dark.src"
        [alt]="content().image.dark.alt"
        class="hidden w-full h-full object-cover object-top rounded-t-3xl dark:block"
      />
    </div>
  </div>
</div>
